

// ////////////////////////////
// // USER NAV
.navbar {
    font-family: $font-secondary;
    font-size: 1.7rem;
    height: 10vh;

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__brand {
        text-decoration: none;
        color: $color-white;
    } 

    &__links {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        & > *:not(:last-child) {
            padding: 0 1rem;
        }

        & > * a {
            display: inline-block;
            text-decoration: none;
            list-style: none;
            transition: all .2s;
            color: $color-white;
        }

        & > * a:hover {
            color: $color-primary;
            transform: scale(1.07);
        }

        & > * a:active {
            color: $color-primary;
            transform: scale(1);
        }
        
        &-signup a {
            background-color: $color-primary;
            border: none;
            text-align: center;
            cursor: pointer;
            color: $color-white;
            padding: 1rem 0.5rem;
            // border-radius: 1rem;
            // padding-left: .5rem;

            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }
        }

        &-user {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}

.card {
    a {
        text-decoration: none;
    }

    &__title {


        &--location {

        }

        &--name {

        }

        &--image {
            width: 4rem;
            border-radius: 2rem;
        }
    }
}



////////////////////////////
// FORM__CONTAINER
.form__container {
    
    .form {
        
        &__group {
            
            
            label {
                
            }
            input {
                // color: $color-grey-light2;
                // height: 3.5rem;
                // width: 100%;
                // border-radius: 1.75rem;
                // border: 3px solid $color-primary;

                &::-webkit-input-placeholder {
                    // background-color: $color-grey-light2;
                    // color: $color-grey;
                    // font-size: 1.5rem;
                    // padding: 1rem;   
                }
            }

            .invalid-feedback {
                // display: none;
                // color: $color-primary;
                // font-size: 1.5rem;
            }

            button {
                background-color: $color-primary;
                color: white;
                border: none;
                font-size: 2rem;
                width: 75%;
                border-radius: 2.5rem;
                height: 5rem;
                align-self: center;
            }
        }
    }
}