body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #d9d9d9;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: pink;
}

// .landing-header {
//     // background-image: url(https://images.unsplash.com/photo-1513622790541-eaa84d356909?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }



// section {
//     margin-top: 1rem;
//     padding: 0 12.5vw;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }


.map__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    padding: 3rem;
    justify-content: center;
}



