.navbar {
    font-family: $font-secondary;
    font-size: 1.7rem;


    &__container {
        min-width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    &__brand {
        text-decoration: none;
        color: $color-grey;

        &:hover {
            color: $color-primary;
            transform: scale(1.2);
        }
        &:active {
            color: $color-primary;
            transform: scale(1.2);
        }
    } 

    &__links {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all .2s;
        
        & > *:not(:last-child) {
            padding: 0 1rem;
        }

        .navbar__link {
            display: inline-block;
            text-decoration: none;
            list-style: none;
            transition: all .2s;
            color: $color-grey;

            &:hover {
                color: $color-primary;
                transform: scale(1.2);
            }

            &:active {
                color: $color-primary;
                transform: scale(1.05);
            }
        }


        .cta__button {
            background-color:$color-primary;
            text-decoration: none;
            color: black;
            transition: all .2s;
            

            &:hover{
                display: block;
                color: white; 
                transform: scale(1.1);
            }

            &:active{
                display: block;
                color: white;
                transform: scale(1.05);
            }
        }

        &-dropdown {
            position: relative;
            padding-left: 1rem;
            
            .nav-dropdown-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $color-grey;
                
                // &:hover {
                //     transform: scale(1.2);

                //     .dropdown {
                //         display: show;
                //     }
                // }
                
                img {
                    width: 4rem;
                    height: 4rem;
                    object-fit: cover;
                    border-radius: 50%;

                    // &:hover {
                    //     transform: scale(1.1);
                    // }
                }
                i {

                }
            }
            .dropdown {
                // background-color: pink;
                position: absolute; 
                top: 4rem;
                right: 0;
                width: max-content;
                display: none;
                text-align: right;
                font-size: 1rem;

                &.active {
                    display: block;
                }

                &__menu {
                    list-style: none;

                    &-item {
                        color: $color-grey;

                        a {
                            text-decoration: none;
                            color: $color-grey;
                            
                            &:hover {
                                color: $color-primary;
                                display: block;
                                transform: scale(1.1);
                            }
                            

                        }
                    }
                }
            }
            
            
        }
    }
}