.profile {
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;

    &__image {
        display: inline-block;
        border-radius: 50%;
        width: 10rem;
    }

    &__info {
        background-color:yellow;
        display: flex;
        flex-direction: column;
    }
}