$color-primary: #026679;
$color-primary-light: #9FEDD7;

$color-secondary: #fef9c7;
$color-secondary-light: #fce181;

$color-tertiary: #edeae5;

$color-black: #000;
$color-white: #fff;

$font-heading: 'Roboto', sans-serif;
$font-main: 'Nunito Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;