$color-primary: #51d0de;
// $color-primary-light: #f4b793;

$color-secondary: #bf4aa8;
// $color-secondary-dark: #105F91;

// $color-tertiary: #DEDC3A;

$color-grey: #0e1012;
// $color-grey-light: 	#3c4751;
// $color-grey-light2: #f6f0f0;


// $color-black: #000;
// $color-white: #2c2f32;
$color-white: white;

$font-heading: 'Roboto', sans-serif;
$font-main: 'Nunito Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;