* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  width: 100vw;
  height: 100vh; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.navbar {
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh; }

.section-about {
  margin-top: 5rem;
  min-width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.profile-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.question {
  margin-top: 5rem;
  display: flex; }

.answers {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.map__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 3rem;
  justify-content: center; }

.cta {
  width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.cta__button {
  background-color: #51d0de;
  color: white;
  font-size: 1.5rem;
  padding: .5rem;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
  transition: all .2s; }
  .cta__button:hover {
    transform: scale(1.07); }
  .cta__button:active {
    transform: scale(1); }

.heading-secondary {
  font-size: 3rem; }

.paragraph-large {
  font-size: 1.75rem; }

.paragraph-medium {
  font-size: 1.25rem; }

.header {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://images.unsplash.com/photo-1553686308-633f8656b49a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80); }
  .header__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .header__content .title {
      max-width: 40rem;
      text-align: justify; }
      .header__content .title h1 {
        font-size: 3rem;
        height: 1rem;
        text-align: justify; }
      .header__content .title h1:after {
        content: '';
        width: 100%;
        display: inline-block;
        height: 0; }
    .header__content .cta {
      width: 35rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }

.section-about .heading-secondary {
  font-size: 3rem;
  margin-right: 5rem; }

.section-about .paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 50vw;
  text-align: right; }
  .section-about .paragraph-container .paragraph-large {
    margin-bottom: 2rem; }
  .section-about .paragraph-container .paragraph-medium {
    max-width: 33vw; }

.profile-container .profile {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: #51d0de; }
  .profile-container .profile__image {
    border-radius: 50%;
    width: 10rem; }
  .profile-container .profile__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem; }
    .profile-container .profile__info-name {
      font-size: 2rem; }

.card a {
  text-decoration: none; }

.card__title--image {
  width: 4rem;
  border-radius: 2rem; }

.navbar {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem; }
  .navbar__container {
    min-width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .navbar__brand {
    text-decoration: none;
    color: #0e1012; }
    .navbar__brand:hover {
      color: #51d0de;
      transform: scale(1.2); }
    .navbar__brand:active {
      color: #51d0de;
      transform: scale(1.2); }
  .navbar__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .2s; }
    .navbar__links > *:not(:last-child) {
      padding: 0 1rem; }
    .navbar__links .navbar__link {
      display: inline-block;
      text-decoration: none;
      list-style: none;
      transition: all .2s;
      color: #0e1012; }
      .navbar__links .navbar__link:hover {
        color: #51d0de;
        transform: scale(1.2); }
      .navbar__links .navbar__link:active {
        color: #51d0de;
        transform: scale(1.05); }
    .navbar__links .cta__button {
      background-color: #51d0de;
      text-decoration: none;
      color: black;
      transition: all .2s; }
      .navbar__links .cta__button:hover {
        display: block;
        color: white;
        transform: scale(1.1); }
      .navbar__links .cta__button:active {
        display: block;
        color: white;
        transform: scale(1.05); }
    .navbar__links-dropdown {
      position: relative;
      padding-left: 1rem; }
      .navbar__links-dropdown .nav-dropdown-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #0e1012; }
        .navbar__links-dropdown .nav-dropdown-wrapper img {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          border-radius: 50%; }
      .navbar__links-dropdown .dropdown {
        position: absolute;
        top: 4rem;
        right: 0;
        width: max-content;
        display: none;
        text-align: right;
        font-size: 1rem; }
        .navbar__links-dropdown .dropdown.active {
          display: block; }
        .navbar__links-dropdown .dropdown__menu {
          list-style: none; }
          .navbar__links-dropdown .dropdown__menu-item {
            color: #0e1012; }
            .navbar__links-dropdown .dropdown__menu-item a {
              text-decoration: none;
              color: #0e1012; }
              .navbar__links-dropdown .dropdown__menu-item a:hover {
                color: #51d0de;
                display: block;
                transform: scale(1.1); }
