@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  width: 100vw;
  height: 100vh; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #51d0de; }

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.landing-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section {
  margin-top: 5rem;
  padding: 0 12.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.map__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 3rem;
  justify-content: center; }

.form__container {
  display: flex;
  flex-direction: row; }

.navbar {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  height: 10vh; }
  .navbar__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__brand {
    text-decoration: none;
    color: #d9d9d9; }
  .navbar__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .navbar__links > *:not(:last-child) {
      padding: 0 1rem; }
    .navbar__links > * a {
      display: inline-block;
      text-decoration: none;
      list-style: none;
      transition: all .2s;
      color: #d9d9d9; }
    .navbar__links > * a:hover {
      color: #bf4aa8;
      transform: scale(1.07); }
    .navbar__links > * a:active {
      color: #bf4aa8;
      transform: scale(1); }
    .navbar__links-signup a {
      background-color: #bf4aa8;
      border: none;
      text-align: center;
      cursor: pointer;
      color: #d9d9d9;
      padding: 1rem 0.5rem; }
      .navbar__links-signup a:hover {
        background-color: #bf4aa8;
        color: #d9d9d9; }
    .navbar__links-dropdown {
      position: relative; }
      .navbar__links-dropdown .nav-dropdown-wrapper {
        display: flex;
        align-items: center;
        justify-content: center; }
        .navbar__links-dropdown .nav-dropdown-wrapper img {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          border-radius: 50%; }
      .navbar__links-dropdown .dropdown {
        position: absolute;
        top: 4rem;
        right: 0;
        width: max-content;
        display: none;
        text-align: right;
        font-size: 1rem; }
        .navbar__links-dropdown .dropdown.active {
          display: block; }
        .navbar__links-dropdown .dropdown__menu {
          list-style: none; }

.card a {
  text-decoration: none; }

.card__title--image {
  width: 4rem;
  border-radius: 2rem; }

.form__container .form__group button {
  background-color: #bf4aa8;
  color: white;
  border: none;
  font-size: 2rem;
  width: 75%;
  border-radius: 2.5rem;
  height: 5rem;
  align-self: center; }

.section-about {
  display: inline-flex;
  flex-direction: row;
  justify-content: baseline; }
  .section-about .heading-secondary {
    font-size: 3rem;
    margin-right: 5rem; }
  .section-about .paragraph-large {
    font-size: 2rem; }
