<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <%- include ('../partials/flash'); %>

    <div class="landing-header">
        <div class="title">
            <h1>Chance<br>Encounters</h1>
        </div>
    </div>
    <div class="cta">
        <a href="" class="cta__button cta__button-answer" id="cta__button-answer">Answer a Stranger</a>
        <a href="/register" class="cta__button cta__button-question" id="cta__button-question">Ask a Stranger</a>
    </div>
</header>

<main>
    <section class="section-about">
        <h2 class="heading-secondary">Questions<br>for<br>500<br>Strangers</h2>
        <p class="paragraph-large">
            Have you ever wanted to ask a stranger a questions? 
        </p>
    </section>
    
</main>



<%- include ('../partials/footer'); %>
<script src="/public/js/nav.js"></script>
</html>