<%- include ('../partials/head'); %>

<%- include ('../partials/navbar'); %>

<header>
    <div class="landing-header">
        <div class="title">
            <h1>Chance<br>Encounters</h1>
        </div>
        <div class="cta">
            <a href="" class="cta__button cta__button-answer" id="cta__button-answer">Answer a Stranger</a>
            <a href="/register" class="cta__button cta__button-question" id="cta__button-question">Ask a Stranger</a>
            <!-- <button class="cta__button cta__button-answer" id="cta_button-anwer">Answer a Stranger</button>
            <button class="cta__button cta__button-question" id="cta_button-question">Ask a Stranger</button> -->
        </div>
    </div>
</header>

<main>
    <section class="section-about">
        <h2 class="heading-secondary">Questions for 500 Strangers</h2>
        <p class="paragraph--large">
            I started this project with the goal of ....Pariatur ut est ex minim ex deserunt ullamco deserunt occaecat esse in ut aute incididunt magna dolore sed id in duis quis. In ad exercitation veniam adipisicing in nisi est exercitation ut deserunt pariatur fugiat velit enim sit ex ea pariatur. Tempor ad excepteur sunt proident in enim mollit aliqua sed deserunt magna laboris consectetur in aute in sit nulla in culpa id minim occaecat aute velit nisi aute esse adipisicing ullamco.  WHY DID YOU DO THIS?
        </p>
    </section>
    <section class="section-questions">
        <div class="question">
            <p>What is your favourite food</p>
        </div>
        <div class="question">
            <p>If you could meet anyone who would it be?</p>
        </div>
    </section>
    <section class="section-answers">answers</section>
</main>

<%- include ('../partials/footer'); %>
</body>
</html>