<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Register</title>
		
		<!-- <link rel="shortcut icon" href="../favicon.ico"> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/form/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/form/demo.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/form/component.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/form/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/form/cs-skin-boxes.css" />
		<script src="/public/js/form/modernizr.custom.js"></script>
	</head>
	<body>
		<%- include ('../partials/flash'); %>
		<div class="container">
			

			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>Login</h1>
					<div class="codrops-top">
						<button class="go_back" id="goBack" data-count="1">
							<i class="fas fa-arrow-left"></i>
						</button>
						<!-- <a class="codrops-icon codrops-icon-prev" href="#"><span>Go Back</span></a> -->
					</div>
				</div>
				<form action="/users/login" method="POST" id="myform" class="fs-form fs-form-full" autocomplete="off">
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" for="username">What's your username?</label>
							<input class="fs-anim-lower" id="username" name="username" type="text" placeholder="email@gmail.com" required/>
                        </li>
                        <li>
							<label class="fs-field-label fs-anim-upper" for="password" data-info="Enter a password longer than 7 characters">Choose a password.</label>
							<input class="fs-anim-lower" id="password" name="password" type="password" placeholder="password" required/>
                        </li>
					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">Send answers</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

			

		</div><!-- /container -->
		<script src="/public/js/form/classie.js"></script>
		<script src="/public/js/form/selectFx.js"></script>
		<script src="/public/js/form/fullscreenForm.js"></script>
		<script src="/public/js/form/go_back.js"></script>
		<script>
			(function() {
				var formWrap = document.getElementById( 'fs-form-wrap' );

				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){
							document.querySelector('span.cs-placeholder').style.backgroundColor = val;
						}
					});
				} );

				new FForm( formWrap, {
					onReview : function() {
						console.log('fuck a third time');
						// return true;
						classie.add( document.body, 'overview' ); // for demo purposes only
					}
				} );

				
			})();
		</script>
	</body>
</html>