<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    
    <div class="profile">
        <div class="profile__header">
            <img src="#" alt="">
        </div>
        <div class="profile__info">
            <div class="profile__info-name">
                <h3>name</h3>
                <div class="profile__info-location">location</div>
                <div class="profile__info-answers"></div>
            </div>       
        </div>
    </div>
</header>

<main>
    
    
    
</main>



<%- include ('../partials/footer'); %>
</body>
</html>
