<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
</header>



<div class="form__container">
    <!-- <img src="https://images.unsplash.com/photo-1557318041-1ce374d55ebf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="question"> -->
    <form class="form" action="/users" method="post">
        <div class="form__group">
            <label for="name">Name</label>
            <input id="placeholder" type="text" placeholder="Name">
            <div class="invalid-feedback">Name is required</div>
        </div>
        <div class="form__group">
            <label for="unformattedAddress">location</label>
            <input id="unformattedAddress" type="text" placeholder="location">
            <div class="invalid-feedback">Enter a valid location</div>
        </div>
        <div class="form__group">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Email">
            <div class="invalid-feedback">Enter a valid email</div>
        </div>
        <div class="form__group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password">
            <div class="invalid-feedback">Password must be longer than 7 characters.</div>
        </div>
        <div class="form__group">
            <label for="confirm">Confirm</label>
            <input id="confirm" type="password" placeholder="Confirm Password">
            <div class="invalid-feedback">Password must match</div>
        </div>
        <div class="form__group">
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>

<%- include ('../partials/footer'); %>
<script></script>
</body>
</html>
