    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" class="navbar__brand" id="navbar__brand">logo</a>
            <ul class="navbar__links">
                <li class="navbar__links"><a href="/allQuestions">Questions</a></li>
                <li class="navbar__links"><a href="/map">Map</a></li>
                <% if(!currentUser){ %>
                    <li class="navbar__links"><a href="/login">Login</a></li>
                    <li class="navbar__links cta__button"><a href="/register">SignUp</a></li>
                <% }  else { %>
                    <li class="navbar__links"><a href="/users/logout">Logout</a></li>
                    <li class="navbar__links-dropdown">
                        <a href="/users/me" class="nav-dropdown-wrapper">
                            <img src="/users/<%= currentUser._id %>/avatar" alt="">
                            <i class="fas fa-caret-down"></i>
                        </a>
                        <div class="dropdown">
                            <ul class="dropdown__menu">
                                <li class="dropdown__menu-item"><a href="/addAvatar">Edit Avatar</a></li>
                                <li class="dropdown__menu-item"><a href="/update">Edit Account</a></li>
                                <li class="dropdown__menu-item"><a href="/questions/confirmUpdate">Edit Questions</a></li>
                                <li class="dropdown__menu-item"><a href="/users/confirmDelete">Delete Acount</a></li>
                            </ul>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
