    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" class="navbar__brand" id="navbar__brand">logo</a>
            <ul class="navbar__links">
                <li class="navbar__links"><a href="/allQuestions">Questions</a></li>
                <li class="navbar__links"><a href="/map">Map</a></li>
                <li class="navbar__links"><a href="#">Login</a></li>
                <li class="navbar__links cta__button"><a href="/register">SignUp</a></li>
                <li class="navbar__links-user"><img src="https://images.unsplash.com/photo-1584374829107-d5edbfe98d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></li>
            </ul>
        </div>
    </nav>
