
    <nav class="navbar">
        <a href="#" class="navbar__brand" id="navbar__brand">logo</a>
        <ul class="navbar__links">
            <li><a href="#">Quesitons</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">SignUp</a></li>
        </ul>
    </nav>
