<section class="question">
    
    <div class="questions">
        <p class="questions-1">1.  <span><%= card></span></p>
        <p class="questions-2">2.  <span>Question2</span></p>
        <p class="questions-3">3.  <span>Question3</span></p>
        <p class="questions-4">4.  <span>Question4</span></p>
    </div>
    <div class="questions-answerBtn">
        ANSWER
    </div>

</section>